
.header {
	height: 100%;
	width: 100%;
	list-style-type: none;
	float: left;
	display: inline-block;
}

.head {
	height: 20%;
	width: 100%;
	float: left;
	 
}

.head_top {
	width: 100%;
	margin: 0 auto;
	height: 100%;  
	text-align:center;
	float: left;
	display: inline-block; 
}

.head_top ul {
	width: 100%;
	margin: 0 15%;
	padding: 0;
	height: 100%;
	float: left;
	display: inline-block;
}


#top_menu {
	margin-top: 2%;
	width: 40%;
	height: auto;
	text-align: right;
}

/***** media query *****/

	html, body {
		background-color: #c6d7f2;
		width: 100%;
		text-align:center;
		overflow-x:hidden; 
		overflow-y:auto;
	}

	#top_member {
		display: none;
	}

	#top_menu {
		margin-left: 3%;
		text-align: right;
	}

	#top_menu a img {
		width: 20%;
		height: auto;
	}

	#top_logo {
		width: 40%;
		margin-top: 1%; 
		text-align: left;
	}

	#top_logo img {
		width: 100%;
		height: auto;
	}

	.mid_inner {
		display: none;
	}

	.swiper-container {
		display: none;
	}


@media all and (min-width:1025px) {
	main, body {
		background-position: : fixed;
		background-image: url('https:/farm5.staticflickr.com/4411/36955427271_b25cf1aeb8_o.jpg');
		background-size:	cover;
		background-repeat: no-repeat;
	}
	


	#top_menu {
		display: none;
	}	

	.header {
	height: 100%;
	width: 100%;
	list-style-type: none;
}

.head {
	height: 100%;
	width: 100%;
	float: left;
}


.main_layout {
	list-style: none;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.main_layout {
	display: inline-block;
}

/***** head top *****/

.head_top {
	position:relative; 
	text-align: center;
	width:100%; 
	height:20%;
	margin-top: 5%;
}

.head_top ul {
	margin: 0 5%;
	list-style: none;
	width: 80%;
	height: 100%;
}

.head_top ul li {
	display: inline-block;
	float: left;
}

#top_logo {
	width: 55%;
	height: 80%;
	text-align: left;
	margin-top: 0px;
}

#top_logo img {
	width: 300px;
	height: auto;
}

#top_member {
	display: inline-block;
    width: 5%;
    margin-left: 30%;
    height: auto;
    float: right;
    text-align: right;
}

#top_member a {
	text-decoration: none;
}
 
#top_member a img {        
	width: 60px;
	height: auto;
}





/***** head top end *****/


/***** head mid *****/

.head_mid {
	width: 100%;
	height: 40%;
	margin: 0 auto;
	padding: 0;
	float: left;
	text-align: center;
	display: inline-block;
}

.mid_inner {
	display: inline-block;
	width: 500px;
	height: auto;
	margin: 0 auto;
	background: black;
	background: rgba(0,0,0,0.4);
	border-radius: 30px;
	padding:5% 0;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.mid_inner ul {
	width: 70%;
	height: 100%;
	margin: 0 auto;
	padding-right: 40px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.mid_inner ul li {
	height: auto;
	width: 100%;
	vertical-align: middle;
	position: relative;
}

.main_find {
	margin: 0 auto;
	position: relative;
}

.main_find_text {
    width: 80%;
    height: 100%;
    border-radius: 5px;
    margin-right: 5px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    font-size: 1.3em;
}

.find_img {
    width: 30px;
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    opacity: 0.5;
}

.main_find p {
	font-weight: bold 0.8;
	font-size: 1.6em;
	color: white;
}




/***** head mid end *****/


/***** head bottom *****/

.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}



#cate {
	width: 80%; height: 100%;
	display: inline-block;

}

#cate span {
	height: 10%;
	margin: 10%;
}

#cate ul {
	width: 100%;
	height: 80%;
	display: inline-block;
	padding-right: 40px;
	text-align: center;
	vertical-align: middle;
}

#cate ul li {
	display: inline-block;
	float: left;
	width: 13%;
	height: 100%;
	margin: 4% 0;
	vertical-align: middle;
}

#cate ul li p {
	font-size: 1.3em;
	color: white;
	font-weight: bold;
}

#cate_img img {
	width: 70%;
	height: auto;

}

#left img, #right img {
	
	width:20%;
	margin: 50% auto;
}

#left img {
	transform: rotate(180deg);
}

.swiper-wrapper {
	width: 100%;
	height: 30%;
}


.swiper-container {
	display: inline-block;
	float: left;
	text-align: center;
	position:relative; 
	width:100%; 
	height:35%;
}

.pagination	{
	position:absolute; 
	left:0; 
	bottom:10%; 
	text-align:center;
}

.swiper-pagination-switch {
	display:inline-block; 
	width:10px; 
	height:10px; 
	margin:0 3px; 
	border-radius:10px; 
	background:#999; 
	box-shadow: 0px 1px 2px #555 inset;
	cursor:pointer;
}

.swiper-active-switch {
	background:#fff;
}

.swiper-slide {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

/***** head bottom end *****/

#nav2 li ul li, #nav2 li ul li a {
	background: rgba(86, 182, 230, 0.8); 
	padding: 0;
}

#nav2 li a, 
#nav2 li ul li,
#nav2 li ul li a {
color: #fff; 
}

#nav2 li a, 
#nav2 li a:hover, 
#nav2 li ul li a:hover  {
text-shadow: 0 1px 1px #333; 
}

#nav2 li a:hover, #nav2 li ul a
{
opacity: 0.95;/* Menu transparency on mouse hover*/
} 

#nav2 li a
{
opacity: 0.8;/* Menu transparency on mouse out */
}

#nav2 li {
list-style:none;
position:relative;
text-align: center;
}

#nav2 li a{
line-height: 55px;
padding:0;
text-decoration:none;
margin:0;
font-size:16px;
font-weight:700;
text-transform:uppercase;
}

#nav2 li ul {
	display: none;
    position: absolute;
    left: 0;
    top: 60px;
    padding: 0;
    margin: 0;
}

#nav2 li:hover > ul {
	display: block;
}

#nav2 li ul li,#nav2 li ul li a {
height: 35px; /* submenu item height */
min-width: 150px; /* submenu item minimal width */
line-height: 35px;
border-right: 0;
text-shadow: none;
display:block;
font-size:13px;
font-weight:400;
text-transform:inherit;
} /* Submenu item */

#nav2 li ul li{
_display:inline; /* for IE */
}

#nav2 li a:hover {
-webkit-transition-property:color, background; 
-webkit-transition-duration: 0.5s, 0.5s; 
-webkit-transition-timing-function: linear, ease-out;
}



}
/***** end media query *****/